.timeline-editor-example7 {
    display: flex;
    width: 100%;
    background-color: #191b1d;
  }
  
  .timeline-editor-example7 .timeline-list {
    width: 300px;
    height: 258px;
    flex: 0 1 auto;
    overflow: overlay;
    padding: 0 10px;
  }
  
  .timeline-editor-example7 .timeline-list-item {
    height: 32px;
    padding: 2px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .timeline-editor-example7 .timeline-list-item .text {
    color: #fff;
    height: 28px;
    width: 100%;
    padding-left: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    background-color: #333;
  }
  
  .timeline-editor-example7 .timeline-editor {
    height: 300px;
    flex: 1 1 auto;
  }
  
  .timeline-editor-example7 .timeline-editor-action {
    height: 28px !important;
    top: 50%;
    transform: translateY(-50%);
  }
 
  

  /* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(179, 179, 179); 
    border-radius: 10px;
  }
  